// Variables pour les polices

$font-barlow: 'Barlow', sans-serif;
$font-fraunces: 'Fraunces', serif;

// Variables pour les écrans

$screen-mobile: 375px;
$screen-desktop: 1440px;


// Variables pour les couleurs primaires

$color-soft-red: hsl(7, 99%, 70%);
$color-yellow: hsl(51, 100%, 49%);
$color-dark-desaturated-cyan: hsl(167, 40%, 24%);
$color-dark-blue: hsl(198, 62%, 26%);
$color-dark-moderate-cyan: hsl(168, 34%, 41%);

// Variables pour les couleurs neutres

$color-very-dark-desaturated-blue: hsl(212, 27%, 19%);
$color-very-dark-grayish-blue: hsl(213, 9%, 39%);
$color-dark-grayish-blue: hsl(232, 10%, 55%);
$color-grayish-blue: hsl(210, 4%, 67%);
$color-white: hsl(0, 0%, 100%);

// Variable pour la flex

